
html {
  color: black;
  font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding: 10px;
}

html#home {
  background-color: #E5E4E2;
}

h1 {
  font-size: 27px;
}

h2,
h3,
h4,
.footer {
  font-weight: bold;
  font-size: 19px;
}

#community li,
#interests li {
  list-style-type: disc;
  list-style-position: outside;
}

#footer-nav a {
  color: black;
  text-decoration: none;
}
