body {
  margin: 0;
  font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;

}

* {
  box-sizing: border-box;
}

h1, h3 {
  font-weight: 400;
}

.weather-app {
  min-height: 100vh;
  background-image: url();
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: 500ms;
  opacity: 1;
}

.weather-app::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.container {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 2em 3em 4em 3em;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.citytime,
.temp,
.weather {
  margin: 0 1em;
}

.citytime h1 {
  margin: 0;
  margin-bottom: 0.2em;
  font-size: 3em;
}

.temp {
  font-size: 7em;
  margin: 0;
}

.panel {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  right: 0;
  background: black;
  box-shadow: 0 8px 2px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 1;
  padding: 3em 2em;
  overflow-x: scroll;
}

.panel form {
  margin-bottom: 3em;
}

.submit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5em;
  margin: 0;
  border: none;
  outline: none;
  background: #fa6d1b;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.4s;
}

.submit:hover {
  background: #fff !important;
  color: #000;
}

.search {
  background: none;
  border: none;
  border-bottom: 1px #ccc solid;
  padding: 0 1em 0.5em 0;
  width: 80%;
  color: #fff;
  font-size: 1.1em;
}


.search:focus {
  outline: none;
}

.search::placeholder {
  color: #ccc;
}

.panel ul {
  padding: 0 0 1em 0;
  margin: 2em 0;
  border-bottom: 1px #ccc solid;
}

.panel ul li {
  color: #ccc;
  margin: 2.5em 0;
}

.panel ul h4 {
  margin: 3em 0;
}


.city {
  display: block;
  cursor: pointer;
}

.city:hover {
  color: #fff;
}

.details {
  color: white;
}

.details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media screen and (max-width:800px) {

  .panel,
  .temp,
  .container {
    position: relative;
    width: 100%;
    top: initial;
  }
}


@media screen and (max-width:500px) {
  html {
    font-size: 12px;

  }
}


@media screen and (max-width:400px) {
  .tempdetail {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .temp {
    padding-bottom: 10px;
  }

  .citytime {
    font-size: 17px;
    padding-bottom: 20px;
  }

}
