* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  padding: 40px 70px;
}

.currentinfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.datecontainer {
  font-weight: 100;
}

.datecontainer .time {
  font-size: 70px;
  font-weight: 100;
}

.datecontainer#am-pm {
  font-size: 30px;
  margin-left: 20px;
}

.datecontainer .date {
  font-size: 30px
}

.placecontainer {
  text-align: end;
}

.placecontainer input {
  font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  width: 70%;
  padding: 8px;
  margin-left: 5px;
  outline: none;
  border-radius:5px;
  border: 1px solid lightgray;
  color: black;
  background: none;
  color: #fff;
}

.placecontainer button {
  margin: 3px;
  width: 9.5%;
  height: 9.5%;
  border-radius: 5px;
  background: #fa6d1b;
  cursor: pointer;
}

.placecontainer .timezone {
  font-size: 30px;
  font-weight: 100;
  padding-top: 10px;
}

.placecontainer.country {
  font-size: 12px;
  font-weight: 700;
}

.currentinfo .others {
  display: flex;
  flex-direction: column;
  background: rgba(24, 24, 27, 0.2);
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid #eee;
}

.currentinfo .others .weatheritem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.currentweatheritems {
  padding-top: 50px;
  background-color: lightgray;
}

#currenttemp {
  border: 1px solid black;
  border-radius: 10px;
}

.futureforecast {
  background: grey;
  padding: 25px;
  position: fixed;
  bottom: 0;
  display: flex;
  color: black;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.futureforecast .today {
  display: flex;
  align-items: center;
  justify-content: center;
}

.futureforecast .today .day {
  padding: 5px 15px;
  background: whitesmoke;
  border-radius: 50px;
  text-align: center;
}

.futureforecast .today .temp {
  font-size: 10px;
  padding-top: 15px;
}

.futureforecast .weatherforecast {
  display: flex;
}

.weatherforecast .weatherforecastitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

.weatherforecast .weatherforecastitem .day {
  padding: 5px 30px;
  background: whitesmoke;
  border-radius: 50px;
  text-align: center;
  color: black;
}

.weatherforecast .weatherforecastitem .temp {
  font-weight: 50;
  color: black;
}

@media only screen and (max-width: 400px) {

  .futureforecast{
    justify-content: start;
    align-items: none;
    overflow-y: scroll;
  }

  .currentinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .placecontainer input {
    font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 80%;
    padding: 8px;
    outline: none;
    border-radius:5px;
    border: 1px solid lightgray;
  }

  .placecontainer button {
    width: 10%;
    height: 10%;
  }

  .weatherforecast .weatherforecastitem .day {
    padding: 5px 15px;
    background: whitesmoke;
    border-radius: 50px;
    text-align: center;
  }

}



@media only screen and (max-width: 300px) {

  .futureforecast{
    justify-content: start;
    align-items: none;
    overflow-y: scroll;
  }

  .currentinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 10px;
  }

  .placecontainer input {
    font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 80%;
    padding: 8px;
    outline: none;
    border-radius:5px;
    border: 1px solid lightgray;
  }

  .placecontainer button {
    width: 10%;
    height: 10%;
  }

  .weatherforecast .weatherforecastitem .day {
    padding: 5px 15px;
    background: whitesmoke;
    border-radius: 50px;
    text-align: center;
  }

}

@media only screen and (max-width:730px){

  .futureforecast{
    justify-content: start;
    align-items: none;
    overflow-y: scroll;
  }

  .container {
    padding: 10px;
  }

  .futureforecast .today .temp {
    font-size: 20px;
  }

  .datecontainer .time {
    font-size: 50px;
  }

  .datecontainer#am-pm {
    font-size: 20px;
  }

  .datecontainer .date {
    font-size: 20px;
  }

  .placecontainer {
    text-align: end;
    margin-top: 15px;
  }

  .placecontainer .timezone {
    font-size: 20px;
  }

  .currentinfo .others {
    padding: 12px;
  }

  .currentinfo .others .weatheritem {
    font-size: 14px;
  }

  .placecontainer input {
    font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 80%;
    padding: 8px;
    outline: none;
    border-radius:5px;
    border: 1px solid lightgray;
  }

  .placecontainer button {
    width: 10%;
    height: 10%;
  }

}


@media only screen and (max-width: 1000px) {
  .futureforecast {
    justify-content: start;
    align-items: none;
    overflow-y: scroll;
  }
}
